################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Equipo1/FileContentIndex/73093e0d-797c-4b1f-b61b-97f7f63e9bca.vsidx
/.vs/Equipo1/FileContentIndex/read.lock
