################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Equipo1/FileContentIndex/73093e0d-797c-4b1f-b61b-97f7f63e9bca.vsidx
/.vs/Equipo1/FileContentIndex/read.lock
/.vs/slnx.sqlite
/.vs/Form_Equipo1/FileContentIndex
/.vs/Equipo1/FileContentIndex
/.vs/Equipo1/config
/.vs/Equipo-1/FileContentIndex
/.vs
/Resources/logo rojo con rectangulo.jpg
/obj/Debug/Form_Equipo1.Properties.Resources.resources
/obj/Debug/Form_Equipo1.pdb
/bin/Debug/Form_Equipo1.exe
/bin/Debug/Form_Equipo1.exe.config
/bin/Debug/Form_Equipo1.pdb
/obj/Debug/Form_Equipo1.exe
